.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.2rem;
    background: var(--background);
    border: 2px solid var(--foreground);
    border-radius: 24px;
    text-decoration: none;
    color: var(--foreground);
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: -0.5px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.link::after {
    content: '→';
    font-size: 2rem;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.3s ease;
}

.link:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    background-color: var(--foreground);
    color: var(--background);
}

.link:hover::after {
    opacity: 1;
    transform: translateX(0);
}